asgiref==3.8.1
Django==3.2.1
gunicorn==22.0.0
packaging==24.0
psycopg2==2.9.9
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
whitenoise==6.6.0
asttokens
attrs
certifi
cffi
charset-normalizer
colorama
coverage
crispy-bootstrap4
decorator
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-extensions
django-paypal
djangorestframework
executing
factory-boy
Faker
git-filter-repo
h11
httplib2
idna
inflection
iniconfig
ipython
jedi
matplotlib-inline
mysqlclient
oauth2
outcome
parso
pillow
pluggy
prompt-toolkit
pure-eval
pycparser
Pygments
pyparsing
PySocks
pytest
pytest-cov
pytest-django
pytest-factoryboy
python-dateutil
python-magic
requests
selenium
sniffio
sortedcontainers
stack-data
traitlets
trio
trio-websocket
typing_extensions
urllib3
wcwidth
wsproto
python-dotenv