/* Resetting default margin and padding */
body, h1, h2, h3, p, blockquote, ul, li {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: poppins, sans-serif;
    line-height: 1.6;
    background-image: url('C:\Users\Admin\Desktop\blog.jpg'); 
    background-size: cover; /* Cover the entire viewport */
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

.highlight {
    color: blue; /* Default text color */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Show pointer cursor on hover */
}

.highlight:hover {
    font-weight: bold; /* Make text bold on hover */
}

.highlight:active {
    font-weight: bold; /* Make text bold when tapped */
}


/* Header styling */

#header {
    background-color: #c7cff3;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Article styling */
article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section styling */
section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 15px;
}

/* Blockquote styling */
blockquote {
    background-color: #c4ebdb;
    border-left: 5px solid #ddd;
    padding: 10px 20px;
    margin: 15px 0;
}

/* Footer styling */
footer {
    margin-top: 80px;
    text-align: center;
}

footer p {
    font-size: 14px;
}
