{% extends 'Customer/base.html' %} 
{% load static %} 
{% block page_content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">F.A.Q<span>Pages</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <h2 class="title text-center mb-3">Shipping Information</h2><!-- End .title -->
            <div class="accordion accordion-rounded" id="accordion-1">
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-1">
                        <h2 class="card-title">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                            How will my parcel be delivered?
                        </a>
                       </h2>
                </div>
                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
                    <div class="card-body">
                        Your parcel will be carefully packaged and shipped via our reliable shipping partners, ensuring safe and timely delivery to your doorstep. We offer a range of delivery options, including standard shipping and expedited shipping,
                         to accommodate your preferences and urgency.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
                
            </div>
            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-2">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            Do I pay for delivery?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
                    <div class="card-body">
                        Whether you need to pay for delivery depends on several factors, including your location, the total value of your order, and any ongoing promotions or discounts. We offer free standard shipping on orders over a certain amount, which may vary depending on your region. For orders below this threshold, a shipping fee will apply. Additionally, expedited shipping options may incur an additional cost. Rest assured,
                        we strive to offer transparent and competitive shipping rates to ensure a seamless shopping experience for our customers.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div>
            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-3">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                          My item has become faulty!
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
                    <div class="card-body">
                       We apologize for any inconvenience caused by a faulty item. 
                       If you receive a defective product, please contact our customer service team immediately to initiate the return and exchange process. 
                       In your message, provide details about the issue, including any relevant photos or videos, to help us assess the problem accurately. 
                       Once we receive your request, we will guide you through the necessary steps.
                      
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->
            
            <h2 class="title text-center mb-3">Orders and Returns</h2><!-- End .title -->
        			<div class="accordion accordion-rounded" id="accordion-2">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1">
					                    I haven’t received my order
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
					            <div class="card-body">
					                If you haven't received your order, please allow extra time for delivery.
                                    Contact us if it's past the estimated delivery date, and we'll investigate promptly.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
                        <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading2-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
					                    How can I return an item?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
					            <div class="card-body">
                                    To return an item, please contact our customer service team for instructions.
                                     We'll assist you with the return process and provide any necessary details.                   
                                     
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
                        <h2 class="title text-center mb-3">Payments</h2><!-- End .title -->
                	<div class="accordion accordion-rounded" id="accordion-3">
					    <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-1">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="false" aria-controls="collapse3-1">
					                    What payment types can I use?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1" data-parent="#accordion-3">
					            <div class="card-body">
                                    We accept various payment methods, including credit/debit cards, PayPal, and other secure online payment options.
                                    Choose your preferred payment method during checkout for a seamless transaction.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
                        <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-2">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2">
					                 How will my parcel be delivered?
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
					            <div class="card-body">
					                Your parcel will be carefully packaged and shipped via our reliable shipping partners, ensuring safe and timely delivery to your doorstep.
                                     We offer a range of delivery options, including standard shipping and expedited shipping, to accommodate your preferences and urgency.
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
                        <div class="card card-box card-sm bg-light">
					        <div class="card-header" id="heading3-3">
					            <h2 class="card-title">
					                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3">
					                    I can't make a payment
					                </a>
					            </h2>
					        </div><!-- End .card-header -->
					        <div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
					            <div class="card-body">
                                    If you encounter issues making a payment, please ensure that your payment information is entered correctly and that your payment method is valid. Alternatively, try using a different payment method or contact our customer support team for assistance.
 
					            </div><!-- End .card-body -->
					        </div><!-- End .collapse -->
					    </div><!-- End .card -->
                        <div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(assets/images/backgrounds/cta/bg-7.jpg);">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-9 col-xl-7">
                                        <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">

                                        </h3><!-- End .cta-title -->
                                    </div><!-- End .col -->
                                </div><!-- End .row no-gutters -->
                             </div><!-- End .col-md-10 col-lg-9 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .cta -->
                </main><!-- End .main -->
{% endblock page_content %}  


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




